
  <div class="price">
    <div class="container">
      <br><br><br>
      <!-- <hr class="heading-price"> -->
      <h1 class="text-center text-uppercase">Цены - Прайс</h1>
      <br><br>
      <div class="col-sm-6 col-md-3">
        <div class="dl">
          <div class="brand">
            <h2>Сайт <small>визитка</small></h2>
          </div>
          <div class="discount salmon">
            <!-- <img src="/img/price/card2.jpg" class="img-responsive"> -->
            49 <small>000</small>
            <div class="type">тг</div>
          </div>
          <div class="descr">
            <strong>Mei mucius gloriatur reprimique mollis*.</strong> Ad sonet perfecto antiopam mei, denique molestie ne has. 
          </div>
          <div class="text-center">
            <!-- <a href="#" class="btn btn-more btn-outlined">Подробнее</a> -->
            <a href="#" class="btn btn-order btn-outlined text-uppercase">Заказать</a>
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-sm-6 col-md-3">
        <div  class="dl">
          <div class="brand">
            <h2>Сайт <small>магазин</small></h2>
          </div>
          <div class="discount salmon">
            <!-- <img src="/img/price/shop2.jpg" class="img-responsive"> -->
            98 <small>000</small>
            <div class="type">тг</div>
          </div>
          <div class="descr"><strong>Ea per iuvaret ocurreret*.</strong>sit ea detraxit menandri mediocritatem, in mel dicant mentitum.</div>
          <div class="text-center">
            <!-- <a href="#" class="btn btn-more btn-outlined">Подробнее</a> -->
            <a href="#" class="btn btn-order btn-outlined text-uppercase">Заказать</a>
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-sm-6 col-md-3">
        <div  class="dl">
          <div class="brand">
            <h2>Landing <small>page</small></h2>
          </div>
          <div class="discount salmon">
            <!-- <img src="/img/price/landing2.jpg" class="img-responsive"> -->
            59 <small>000</small>
            <div class="type">тг</div>
          </div>
          <div class="descr"><strong>Solet consul tractatos ei pro*. </strong> Ei mei quot invidunt explicari explicari, placerat percipitur intellegam.</div>
          <div class="text-center">
            <!-- <a href="#" class="btn btn-more btn-outlined">Подробнее</a> -->
            <a href="#" class="btn btn-order btn-outlined text-uppercase">Заказать</a>
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-sm-6 col-md-3">
        <div  class="dl">
          <div class="brand">
            <h2>SEO <small>&amp;</small> SMM</h2>
          </div>
          <div class="discount salmon">
            50 <small>000</small>
            <div class="type">тг</div>
          </div>
          <div class="descr"><strong>Cu aliquip persius alterum duo*. </strong> Possit equidem disputando usu et, sea invidunt scriptorem in.</div>
          <div class="text-center">
            <!-- <a href="#" class="btn btn-more btn-outlined">Подробнее</a> -->
            <a href="#" class="btn btn-order btn-outlined text-uppercase">Заказать</a>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>